@import '../../variaveis';

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  .image-zone{
    
    background-color: red;

    position: absolute;
    transform: translateY(-50%);
    width: 40%;
    right: 10%;
  }

  h1 {
    color: $clr-light;
    font-family: $ff-secondary;
    font-weight: $fw-semibold;

    &:before {
      content: '<h1>';
      font-family: $ff-terciary;
      color: $clr-light;
      font-size: 18px;
      position: absolute;
      top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: $ff-terciary;
      color: $clr-light;
      font-size: 18px;
      position: absolute;
      top: 170px;
      left: -12px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: $clr-light;
    margin-top: 2.5em;
    font-weight: $fw-reg;
    font-family: $ff-secondary;
    font-size: $fs-body;
    letter-spacing: 3px;
  }

  .flat-button {
    display: inline-block;
    padding: 0.5em 2.5em;
    margin: 2.5em;
    background: $clr-light;
    color: $clr-dark;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $fw-bold;
    transition: transform 0.5s ease-in-out;
    border-radius: 7px;
    border: none;

    &:hover {
      transform: scale(1.1);
      background-color: $clr-light;
      color: $clr-accent;
      border: 1px solid $clr-accent;
    }
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: none;
    padding: 10px;
    h2{
      text-align: center;
    }
  }

  .home-page .flat-button {
    display: block;
    float: none;
    margin: 2em auto 0 auto;
    width: 200px;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}
